<table class="table">
<div class="text-center">
  <h1 class="mb-4">Mes tâches</h1>
</div>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Détails</th>
      <th>Terminée</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.details %></td>
    <td><%= task.completed ? 'Oui' : 'Non' %></td>
    <td>
      <%= link_to 'Afficher', task_path(task), class: 'btn btn-info' %>
      <%= link_to 'Modifier', edit_task_path(task), class: 'btn btn-primary' %>
      <%= link_to 'Supprimer', task_path(task), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette tâche ?' }, class: 'btn btn-danger' %>
    </td>
  </tr>
<% end %>

  </tbody>
</table>

<%= link_to 'Nouvelle tâche', new_task_path, class: 'btn btn-primary' %>
